body {
  font-family: 'Nanum Myeongjo', serif;
  background-image: linear-gradient(rgba(217, 224, 224, 0.5), rgba(242, 255, 254, 0.24)),
  url("../img/watercolor-paper7189-2870.jpg");
  font-size: 12pt;
}
h1 {
  font-size: 72pt;
  line-height: 3.2rem;
}
.jumbotron {
  text-align: right;
}
.jumbotron p {
  margin-top: 6%;
}
h2 {
  text-align: right;
}
h1, h2, h3 {
  font-family: 'Do Hyeon', sans-serif;
}
.bg-success {
  border-radius: 30% 0 0 30%;
}
.bg-danger {
  border-radius: 0 30% 30% 0;
}
.small {
  font-family: 'Vollkorn', serif;
}
.spell-check {
  font-family: 'Special Elite', monotype;
}
#smile-pic {
  height: 200px;
  border-radius: 25% 25% 50% 15%;
}
.portrait {
  margin-right: 4%;
  padding: 0;
  border: 0;
  position: relative;
  float: left;
}
.card-text h4 {
  text-align: center;
}
.comment {
  text-align: right;
  font-style: italic;
}
.repo h2, h3 {
  text-align: justify;
}
.roboger {
  font-family: 'VT323', monospace;
}